<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.productmanagementservice.database.repositories.UsersRepository">

    <resultMap id="UserResultMap" type="User">
        <id column="id" property="id" />
        <result column="login" property="login" />
        <result column="password" property="password" />
        <result column="security" property="security" />
        <result column="token" property="token" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>


    <update id="addTokenInDatabase" parameterType="User">
        UPDATE users SET token = #{token} WHERE login = #{login}
    </update>
</mapper>